.page-enter-active,
.page-leave-active {
  transition: opacity 5s;
  background: red;
  margin-top: 50px;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
.fun-enter-active,
.fun-leave-active {
  transition: opacity 0.5s;
  background: green;
}
.fun-enter,
.fun-leave-to {
  opacity: 0;
}
